header{
    font-family: Arial, Helvetica, sans-serif;
    color: #1b4965;
    background-color: white;
    border: solid #1b4965;
    text-align: center;
}   

body{
    color: white;
    padding: 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

img{
    max-width: 20rem;
    width: 90%;
    text-align: center;
    border: solid white;
}

.container{
    padding: 1rem;
    background-color: #1b4965;
}

.info{
    text-align: left;
}

footer{
    text-align: center;
    background-color: white;
    color: #1b4965;
    border: solid #1b4965;
}