@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Yeseva+One&display=swap');

/* *{
    border: 2px white solid ;
} */

body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5{
    font-family: 'Yeseva One', Courier, cursive;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

p{
    font-family: 'DM Sans', Tahoma, sans-serif;
    font-size: 1.2rem;
}

.content{
    max-width: 1920px;
    margin: 0 auto;
}

header{
    background-color: #973535;
}
.logo{
   width: 9rem;
}

.logo a:hover{
    background-color: transparent;
}

footer ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Yeseva One', Courier, cursive;
    overflow: hidden;
}

nav a{
    display: flex;
    justify-content:center;
    font-size: 30px;
    margin: 0;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 0.5rem;
    padding: 15px;
}

.icon_nav, #icon_home {
    display: none;
}

nav a:hover{
    background-color: #4B1B1B;
}

.tablink{
    background-color: #4B1B1B;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #973535;
  }

.index_slider{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.first_slide{
    z-index: -1;
    grid-column: 1/3;
    grid-row: 1/4;
    width: 100%;
}

#museum_hero{
    width: 100%;
    height: 100%;
}

#cultural_spaces_hero{
    width: 100%;
    height: 100%;
}

.second_slide{
    grid-column: 3/5;
    grid-row: 1/4;
    width: 100%;
}
.hero_msg{
    text-align: center;
    font-size: 2.7rem;
    z-index: 1;
    color: white;
    grid-column: 2/4;
    grid-row: 2/3;
    text-shadow: 2px 2px 3px #4B1B1B;
}

.slider_buttons{
    grid-column: 1/6;
    grid-row: 1/2;
    width: 100%;
}

.home_grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    justify-content: center;
}

.welcome_msg{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    border: 0;
    margin: 10%;
}
.welcome_msg h2{
    color: #973535;
    border-bottom: solid 3px #4B1B1B;
}
.welcome_img{
    grid-column: 4/5;
    grid-row: 2/4;
    margin: 10%;
    align-self: center;
    width: 100%;
}
.map{
    align-self: center;
    width: 100%;
}

.learn_more, .contact_button{
    background-color: #F7F2EA;
    color: #466286;
    padding: 1rem;
    grid-column: 2/3;
    grid-row: 3/3;
    height: fit-content;
    text-align: center;
    margin:0 auto;
    display:block;
    text-align:center;
    cursor: pointer;
    font-size: 1rem;
}

.contact_button{
    background-color: #4B1B1B;
    color: white;
}

button a{
    text-decoration: none;
}

.learn_more:hover{
    background-color: #F7F2EA;
    color: #466286;
    transform: scale(1.1)
}

.contact_button:hover{
    background-color: #973535;
    color: #F7F2EA;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#send_btn{
    width: 30rem;
    height: 4.25rem;
    max-width: 100%;
    max-height: 100%;
}

.tech_info{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
}

.background_tech{
    background-color: #466286;
    width: 100%;
    grid-column: 1/6;
    grid-row: 2/5;
    z-index: -1;
}
.tech_img{
    grid-column: 2/3;
    grid-row: 1/6;
    z-index: 1;
    border: 5px solid #F7F2EA;
}
.info_box{
    grid-column: 4/5;
    grid-row: 3/4;
    padding: 10px;
}
.info_box h2{
    text-align: right;
    color: #F7F2EA;
    border-bottom: solid 3px #F7F2EA;
}

.info_box p {
    color: #F7F2EA;
    text-align: end;
}

.tech_img_boxes{
    grid-column: 4/5;
    grid-row: 4/5;
    display: flex;
    justify-self: center;
    margin: 1rem;
}

.img_one, .img_two{
    width: 150px;
    border: 5px solid #F7F2EA;
}
.img_one:hover, .img_two:hover{
    transform: scale(1.1)
}

.our_services{
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 3fr 0.5fr;
    color: #F7F2EA;
    text-align:end;
    justify-self: center;
}

.our_services h2{
    grid-column: 1/6;
    color: #973535;
    border: 1px solid #4B1B1B;
    text-align: center;
    padding: 1.3rem;
    margin: 6rem 0;
}

.our_services img{
    margin-top: 2rem;
    width: 100%;
}

.background_color1{
    background-color: #973535;
    grid-column: 1/6;
    grid-row: 3/6;
    z-index: -2;
}

.background_color2{
    background-color: #4B1B1B;
    grid-column: 1/6;
    grid-row: 6/10;
    width: 100%;
    z-index: -2;
}

.background_color3{
    background-color: #F7F2EA;
    grid-column: 1/6;
    grid-row: 10/13;
    z-index: -2;
}

.background_color4{
    background-color: #466286;
    grid-column: 1/6;
    grid-row: 13/20;
    z-index: -2;
}

.history{
    grid-column: 4/5;
    grid-row: 4/5;
    margin: 1rem;
    padding: 2rem;

}

.heritage{
    grid-column: 4/5;
    grid-row: 10/12;
    margin: 1rem;
    padding: 2rem;
    color: #466286;
}

.spaces{
    grid-column: 2/3;
    grid-row: 7/9;
    margin: 1rem;
    padding: 2rem;
    text-align: left;
}
.tourism{
    grid-column: 2/3;
    grid-row: 13/16;
    margin: 1rem;
    padding: 2rem;
    text-align: left;
}

.history_img{
    grid-column: 2/3;
    grid-row: 4/7;
    text-align: center;
}

.spaces_img{
    grid-column: 4/5;
    grid-row: 5/9;
    text-align: center;
}
.heritage_img{
    grid-column: 2/3;
    grid-row: 9/12;
    text-align: center;

}
.tourism_img{
    grid-column: 4/5;
    grid-row: 12/15;
    text-align: center;
}


.contact_form{
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 3fr 0.5fr;
    justify-content: center;
    margin-top: 1rem;
    color: #F7F2EA;
    margin: 1rem;
}

.background_form{
    grid-column: 1/6;
    grid-row: 3/6;
    background-color: #973535;
    border: solid 5px #4B1B1B;
    box-shadow: 5px 5px 10px #464343;
}
.img_form{
    grid-column: 2/3;
    grid-row: 2/4;
    align-self: center;
    width: 100%;
    border: 4px solid #4B1B1B;
}
.contact_msg{
    grid-column: 2/3;
    grid-row: 4/6;
    text-align: center;
}
.form{
    grid-column: 4/5;
    grid-row: 3/5;
    text-align: center;
}
.form_title{
    border: solid 3px #4B1B1B;
    padding: 20px;
}
.form_text{
    font-family: 'Yeseva One', Courier, cursive;
    font-size: 25px;
}

.form ul{
    list-style: none;
}
.form li{
    padding: 1rem;
    align-self: center;
}

textarea, input{
    width: 480px;
    height: 68px;
    font-family: 'DM Sans', Tahoma, sans-serif;
    font-size: 1.2rem;
    max-width: 100%;
    max-height: 100%;
}


#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #973535; 
    color: #F7F2EA;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px; 
    border: solid 2px #F7F2EA;
  }
  
  #myBtn:hover {
    background-color: #F7F2EA;
    color: #4B1B1B;
    border: solid 2px #4B1B1B;
  }

footer{
    background-color: #4B1B1B;
    color: #F7F2EA;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

footer a{
    color: #F7F2EA;
    text-decoration: none;
}
footer li{
    padding: 20px;
}

.contact li a:hover{
    text-decoration: underline;

}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

/* discover page */

.discover_hero{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #4B1B1B;
    justify-content: center;
    /* place-items: center; */
}

.first_img{
    grid-column: 1/2;
    grid-row: 1/4;
    height: 400px;
    max-height: 100%;
    display: block;
    justify-self: center;
}
.second_img{
    grid-column: 3/5;
    grid-row: 1/4;
    height: 400px;
    max-height: 100%;
    display: block;
    justify-self: center;
    z-index: 1;
}
.third_img{
    grid-column: 6/7;
    grid-row: 1/4;
    height: 400px;
    max-height: 100%;
    display: block;
    justify-self: center;
}

.dicover_title{
    text-align: center;
    font-size: 7rem;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 3px #4B1B1B;
    grid-column: 1/7;
    grid-row: 2/3;
}

.main_events{
    display: grid;
    grid-template-columns: repeat(9, auto);
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
.main_events h2, .main_events h3, .activities h2{
    color: #973535;
}

.discover_info{
    grid-column: 1/10;
    grid-row: 1/2;
}
.discover_info h2, .activities h2{
    border: solid 5px #4B1B1B;
    margin: 2rem 0;
    padding: 1rem;
    margin: 2rem;
}
.gallery_card{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    width: 100%;
}

.gallery_card:hover .overlay, .museum_card:hover .overlay, .tourism_card:hover .overlay, .history_card:hover .overlay{
    opacity: 1;
  }

.museum_card{
    grid-column: 4/5;
    grid-row: 2/3;
    position: relative;
    width: 100%;
}
.tourism_card{
    grid-column: 6/7;
    grid-row: 2/3;
    position: relative;
    width: 100%;
}
.history_card{
    grid-column: 8/9;
    grid-row: 2/3;
    position: relative;
    width: 100%;
}

.img_card{
    display: block;
    width: auto;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: auto;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #F7F2EA;
  }

  .text {
    color: #973535;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

* {
    box-sizing: border-box;
  }
  
  .container {
    position: relative;
    width: 70%;
    grid-column: 1/10;
    justify-self: center;
    padding-top: 2rem;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #F7F2EA;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #9735357d
  }
  
  .numbertext {
    color: #F7F2EA;
    font-size: 1.3rem;
    padding: 8px 12px;
    position: absolute;
  }
  
  .caption-container {
    text-align: center;
    background-color: #4B1B1B;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 16.66%;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.activities{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 4fr 1fr;
    padding: 25px;
    margin: 25px;
}
.activities h2{
    grid-column: 1/6;
}
.activities img{
    margin: auto;
    padding: 10px;
    width: 100%;
    border-radius: 1em;
}

.activities p{
    padding: 0.5rem;
}

#activity_one{
    grid-column: 2/3;
    margin-bottom: 50px;
}
#activity_three{
    grid-column: 2/3;
}
#activity_two{
    grid-column: 4/5;
    margin-bottom: 50px;
}
#activity_four{
    grid-column: 4/5;
}
.activities_card{
    background: white;
    border-radius: 20px;
    box-shadow: 0px 20px 50px #bec2ca47;
    border: 1px solid #ccc;
    border-radius: 1rem;
}
.activities_card:hover{
    background-color: #973535;
    color: #F7F2EA;
    cursor: pointer;
    transform: scale(1.1)
    
}

@media screen and (max-width: 1000px) {
    .logo{
        width: 7rem;
    }

    nav{
        display: flex;
    }

    nav a{
        font-size: 23px;
    }

    .nav_link {
        display: flex;
    }
    nav a.icon_nav{
        display: flex;
    }

    .contact_form{
        display: block;
        background-color: #973535;
    }
    .background_form{
        display: none;
    }
    .home_grid{
        display: block;
    }
    .welcome_msg, .welcome_img{
        width: fit-content;
    }


    /* nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive .nav_link {
      float: none;
      display: block;
      text-align: left;
    } */

    .first_slide{
        display: none;
    }

    .second_slide{
        grid-column: 1/5;
    }
    .slider_buttons{
        display: flex;
    }

    .tech_info{
        display: flex;
        background-color: #466286;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tech_img{
        width: 300px;
    }

    /* .history, .spaces, .heritage, .tourism{

    } */

    .history_img, .spaces_img, .heritage_img, .tourism_img{
        /* display: block; */
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        width: fit-content;
    }

    footer {
        flex-direction: column;
    }
    footer li{
        text-align: center;
    }
}